<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>1.12.242.10</key> <!-- 替换为目标 IP 地址 -->
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/> <!-- 包括子域名 -->
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/> <!-- 允许 HTTP 加载 -->
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string> <!-- 设置最低 TLS 版本 -->
			</dict>
		</dict>
	</dict>
</dict>
</plist>
